name: CI

on:
  push:
    branches:
      - master
      - 'v*'
  pull_request: {}

jobs:
  test:
    name: Tests
    runs-on: ${{ matrix.os }}

    strategy:
       matrix:
         os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6.0.1
        with:
          submodules: true

      - uses: actions/setup-java@v4.6.0
        with:
          java-version: '17'
          distribution: 'zulu'

      - run: ./gradlew assemble
      - run: ./gradlew check
      - run: ./gradlew verifyPlugin
