name: CI

on:
  push:
    branches:
      - master
      - 'v*'
  pull_request: {}
  schedule:
    - cron:  '0 3 * * *' # daily, at 3am

jobs:
  test:
    name: Tests
    runs-on: ${{ matrix.os }}

    strategy:
       matrix:
         os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2.4.0
        with:
          submodules: true

      - uses: actions/setup-java@v3.1.1
        with:
          java-version: '11'
          distribution: 'zulu'

      - run: ./gradlew assemble
      - run: ./gradlew check
