name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.1.0
        with:
          submodules: true

      - uses: actions/setup-java@v3.5.1
        with:
          java-version: '11'
          distribution: 'zulu'

      - run: ./gradlew buildPlugin
      - run: ./gradlew publishPlugin
        env:
          ORG_GRADLE_PROJECT_intellijPublishToken: ${{ secrets.ORG_GRADLE_PROJECT_INTELLIJPUBLISHTOKEN }}
